*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --text-color:rgb(78,255,0);
  --content_box_color:rgb(70, 1, 70);
  --page2_box_width: 1000px;
  --page3_box_width: 1000px;
}

.mobile{

}
body {
  background: purple;
  background-image: url("./assets/pattern.png");
  background-size: 300px;
  
}

body * {
  font-family: "bokor";
}

html {
  scroll-behavior: smooth;
}
#container {
  width: 100%;
  max-width: 1800px;
  padding: 24px;
  margin: 56px auto 0px;
}
/*#container img{
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
}*/

#menu {
  height: 70px;
  width: 1000px;
  max-width: 1050px;
  margin: 0 auto ;
  background-color: orange;
}

#menu img {
  height: 60px;
  margin: 5px 0px 0px 10px;
}

/*Perfil*/
#button1 {
  width: 100px;
  margin: -50px 250px 0;
}
#button1 button {
  width: 100px;
  height: 30px;
  background: rgba(255, 255, 255, 0.185);
  border: 1px solid black;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#button1 a {
  text-decoration: none;
  color: black;
}
#button1 a:hover {
  color: white;
}
#button1 button:hover {
  border: 1px solid white;
}
/*Include*/
#button2 {
  width: 100px;
  margin: -30px 380px 0;
}
#button2 button {
  width: 100px;
  height: 30px;
  background: rgba(255, 255, 255, 0.185);
  border: 1px solid black;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#button2 a {
  text-decoration: none;
  color: black;
}
#button2 a:hover {
  color: white;
}
#button2 button:hover {
  border: 1px solid white;
}
/*Sobre mim  */
#button3 {
  width: 100px;
  margin: -30px 500px 0;
}
#button3 button {
  width: 100px;
  height: 30px;
  background: rgba(255, 255, 255, 0.185);
  border: 1px solid black;
  border-radius: 8px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
#button3 a {
  text-decoration: none;
  color: black;
}
#button3 a:hover {
  color: white;
}
#button3 button:hover {
  border: 1px solid white;
}

#intro {
  width: 450px;
  height: 300px;
  margin: 50px auto;
  background: purple;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 16px;
  color: var(--text-color)

}

#socials {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding: 24px 0;
  font-size: 40px;
}
#socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  color: var(--text-color);
}
/*primeira pagina - perfil*/
#page1{
  width: 500px;
  height: 600px;
  background: purple;
  border: 1px solid black;
  border-radius: 10px;
  margin: 50px auto;
}
#perfil{
  text-align: center;
  padding: 24px;
}
#perfil img{
  width: 112px;
}
#perfil_text{
  height: 380px;
  background: var(--content_box_color);
  border-radius: 10px;
  color: var(--text-color);
  padding: 0 24px;
}
#perfil_text h1{
  text-align: left;
}
#perfil_text p{
  text-align: left;
}
/*segunda pagina - Include*/
#page2{
  width: var(--page2_box_width);
  height: 600px;
  margin: auto;
  background: purple;
  border: 1px solid black;
  border-radius: 10px;
  padding: 16px;
  color: var(--text-color);
}
#page2_content{
  width: 970px;
  height: 500px;
  background: var(--content_box_color);
  margin:  auto;
  border-radius: 10px;
  padding: 0 16px;
  color: var(--text-color);
}
#page2_content p{
  text-align: left;
  width: 500px;
}
#includeimgs img{
  display: flex;
  border: 5px solid var(--text-color);
  border-radius: 10px;
  width: 255px;
  height: 300px;
  margin:-250px 550px;
  
}
/*terceira pagina - sobre mim*/
#page3{
width: var(--page3_box_width);
height: 500px;
margin: 50px auto;
background: purple;
border: 1px solid black;
border-radius: 10px;
padding: 0 16px;
color: var(--text-color);
}
#page3_content{
  height: 400px;
  background: var(--content_box_color);
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 16px;
  
}
#page3_content p{
  text-align: left;
  width: 520px;
  padding: 15px 15px;
}

footer{
  text-align: center;
  padding: 100px;
  

}

/* Mobile styles (para telas até 768px) */
@media (max-width: 768px) {
  /* Menu */
  #menu {
    display: flex;
    flex-direction: inline;
    padding: 10px 0;
  }

  #menu img {
    margin: -5px 10px;
  }

  /* Botões */
  #button1 , #button2 , #button3 {
    margin: 10px 25px;
  }

  /* Intro */
  #intro {
    width: 90%;
    margin: 20px auto;
  }

  /* Páginas */
  #page1, #page2, #page3 {
    width: 90%;
    margin: 20px auto;
  }

  /* Redes Sociais */
  #socials {
    gap: 10px;
    font-size: 30px;
  }
  #page2_content{
    width:90%;
  }
  #perfil_text p,#page2_content p, #page3_content p{
    width: 250px;
    font-size: smaller;
  }
  

  footer {
    padding: 100px;
  }
}